.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  padding-top: 20px;

}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
    margin-bottom: -16px;
    padding-bottom: 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.artSectionDiv {
  display: grid;
  grid-template-areas:
          ". imageDiv imageDiv imageForm ."
          ". imageDiv imageDiv textForm ."
          ". imageDiv imageDiv soundForm ."
          ". textDiv textDiv soundDiv .";

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

/*Landscape phone*/
@media screen and (max-width: 800px) {
  .artSectionDiv {
    display: grid;
    grid-template-areas:
            "imageDiv imageDiv imageForm textForm soundForm"
            "imageDiv imageDiv imageForm textForm soundForm"
            "imageDiv imageDiv soundDiv soundDiv soundDiv"
            "textDiv textDiv textDiv textDiv textDiv ";

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2px;
  }
}

/*Portrait phone*/
@media screen and (max-width: 510px) {
  .artSectionDiv {
    display: grid;
    grid-template-areas:
            "imageForm textForm soundForm"
            "imageDiv imageDiv imageDiv"
            "imageDiv imageDiv imageDiv"
            "imageDiv imageDiv imageDiv"
            "textDiv textDiv textDiv"
            "soundDiv soundDiv soundDiv";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 2px;
  }
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
    background-color: #222;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
    color: lightseagreen;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.imageDiv {
  grid-area: imageDiv;
}

.textDiv {
  grid-area: textDiv;
}

.soundDiv{
  grid-area: soundDiv;
    padding-top: 20px;
}

.imageForm {
  grid-area: imageForm;
}

.textForm {
  grid-area: textForm;
}

.soundForm {
  grid-area: soundForm;
}

.text {
    border: 5px dotted orange;
    padding: 20px;
}
audio {
    border: 5px outset orange;
}

audio:hover, audio:focus, audio:active {
    border: 5px inset orange;
}

svg {
    border: 6px outset orange;
    background-color: #ffffff;
}

label {
    cursor: pointer;
}

.radio{
    padding: 2px;
}

.radio:hover {
    text-decoration: underline;
}
input[type='radio'] {
    transform: scale(1.4);
}

